:root {
  --spacing-unit: 8px;
  --spacing-unit-half: calc(var(--spacing-unit) * 0.5);
  --spacing-unit-2x: calc(var(--spacing-unit) * 2);
  --spacing-unit-3x: calc(var(--spacing-unit) * 3);
  --spacing-unit-4x: calc(var(--spacing-unit) * 4);
  --spacing-unit-5x: calc(var(--spacing-unit) * 5);
  --spacing-unit-6x: calc(var(--spacing-unit) * 6);
  --spacing-unit-7x: calc(var(--spacing-unit) * 7);
  --spacing-unit-8x: calc(var(--spacing-unit) * 8);
  --spacing-unit-9x: calc(var(--spacing-unit) * 9);
}
