:root {
  --text-size-blog-title: 20px;
  --line-height-blog-title: 1.6;
  --font-weight-blog-title: 700;
  --letter-spacing-blog-title: 0.04rem;

  // 見出し
  --text-size-heading-xxl: 57px;
  --text-size-heading-xl: 45px;
  --text-size-heading-l: 36px;
  --text-size-heading-m: 32px;
  --text-size-heading-s: 28px;
  --text-size-heading-xs: 24px;
  --text-size-heading-xxs: 20px;
  --text-weight-heading-xxl: 400;
  --text-weight-heading-xl: 400;
  --text-weight-heading-l: 400;
  --text-weight-heading-m: 400;
  --text-weight-heading-s: 400;
  --text-weight-heading-xs: 400;
  --text-weight-heading-xxs: 400;
  --line-height-heading-xxl: 1.4;
  --line-height-heading-xl: 1.4;
  --line-height-heading-l: 1.4;
  --line-height-heading-m: 1.5;
  --line-height-heading-s: 1.5;
  --line-height-heading-xs: 1.5;
  --line-height-heading-xxs: 1.5;
  --letter-spacing-heading-xxl: 0.04rem;
  --letter-spacing-heading-xl: 0.04rem;
  --letter-spacing-heading-l: 0.04rem;
  --letter-spacing-heading-m: 0.04rem;
  --letter-spacing-heading-s: 0.04rem;
  --letter-spacing-heading-xs: 0.04rem;
  --letter-spacing-heading-xxs: 0.04rem;

  // その他のテキストスタイル
  --text-size-body-l: 16px;
  --text-size-body-m: 14px;
  --text-size-label-l: 14px;
  --text-size-label-m: 12px;
  --text-size-caption-l: 12px;
  --text-size-caption-m: 10px;
  --text-size-button: 16px;
  --text-weight-body-l: 400;
  --text-weight-body-m: 400;
  --text-weight-label-l: 400;
  --text-weight-label-m: 400;
  --text-weight-caption-l: 400;
  --text-weight-caption-m: 400;
  --text-weight-button: 700;
  --line-height-body-l: 1.7;
  --line-height-body-m: 1.7;
  --line-height-label-l: 1.5;
  --line-height-label-m: 1.5;
  --line-height-caption-l: 1.7;
  --line-height-caption-m: 1.7;
  --line-height-button: 1.5;
  --letter-spacing-body-l: 0.04rem;
  --letter-spacing-body-m: 0.04rem;
  --letter-spacing-label-l: 0.04rem;
  --letter-spacing-label-m: 0.04rem;
  --letter-spacing-caption-l: 0.02rem;
  --letter-spacing-caption-m: 0.02rem;
  --letter-spacing-button: 0.04rem;
}
