:root {
  font-family: var(--noto-sans-jp);
  font-weight: 400;
}

:root[data-theme='light'] {
  color-scheme: 'light';

  --background-light-primary: #efefef;
  --text-light-body: #333;
}

:root[data-theme='dark'] {
  color-scheme: dark;

  --background-dark-primary: #333;
  --text-dark-body: #efefef;
}
